.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.profile-page {
    font-family: Arial, sans-serif;
}

/* App.css */
.app-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.left-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.right-panel {
    width: 250px;
    padding: 20px;
    background-color: #fafafa;
    border-left: 1px solid #e0e0e0;
}



.App {
    text-align: center;
    margin: 20px;
}

.publication-list {
    margin: 20px;
}

.publication-header,
.publication-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.column-title {
    flex: 2;
    font-weight: bold;
}

.column-cited,
.column-year {
    flex: 1;
    text-align: center;
}

.citation-graph {
    height: 300px;
    width: 80%;
    margin: 0 auto;
}